* {
padding: 0;
margin: 0;
box-shadow: border-box;
}
body {
    background: rebeccapurple;
}
.container {
    height: auto;
    display: grid;
    place-items: center;

}
.container .center {
height: auto;
width: auto;
}